<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
    <!-- Views -->

    <extension id="ExampleViewComponent" point="org.protege.editor.core.application.ViewComponent">
        <label value="Manual Axiom Weakening" />
        <class value="www.ontologyutils.protege.view.AxiomWeakeningListView" />
        <headerColor value="@org.protege.ontologycolor" />
        <category value="@org.protege.ontologycategory" />
    </extension>

    <!-- Menus -->

    <extension id="autorepair" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Automatic Repair" />
        <path value="org.protege.editor.owl.menu.tools/SlotG-A" />
        <editorKitId value="any" />
    </extension>

    <extension id="normalizetosroiq" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Normalize to SROIQ" />
        <toolTip value="Normalize the ontology such that it is in SROIQ" />
        <path value="${project.artifactId}.autorepair/SlotCR-A" />
        <class value="www.ontologyutils.protege.menu.NormalizeToSroiq" />
        <editorKitId value="OWLEditorKit" />
    </extension>

    <extension id="mcsrepair" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Maximal Consistent Subset" />
        <toolTip value="Repair using random maximal consistent subset" />
        <path value="${project.artifactId}.autorepair/SlotCR-B" />
        <editorKitId value="OWLEditorKit" />
    </extension>

    <extension id="repairmcsconsistency"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Make Consistent" />
        <path value="${project.artifactId}.mcsrepair/SlotA-A" />
        <editorKitId value="any" />
    </extension>

    <extension id="fastrepairmcsconsistency"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Fast" />
        <path value="${project.artifactId}.repairmcsconsistency/SlotA-A" />
        <toolTip value="Compute only a single maximal consistent subset" />
        <class value="www.ontologyutils.protege.menu.FastConsistencyRepairMcs" />
        <editorKitId value="any" />
    </extension>

    <extension id="defaultrepairmcsconsistency"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Default" />
        <path value="${project.artifactId}.repairmcsconsistency/SlotA-B" />
        <toolTip value="Compute some maximal consistent subsets" />
        <class value="www.ontologyutils.protege.menu.DefaultConsistencyRepairMcs" />
        <editorKitId value="any" />
    </extension>

    <extension id="slowrepairmcsconsistency"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Slow" />
        <path value="${project.artifactId}.repairmcsconsistency/SlotA-C" />
        <toolTip value="Compute all maximal consistent subsets" />
        <class value="www.ontologyutils.protege.menu.SlowConsistencyRepairMcs" />
        <editorKitId value="any" />
    </extension>

    <extension id="repairmcscoherence"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Make Coherent" />
        <path value="${project.artifactId}.mcsrepair/SlotA-B" />
        <editorKitId value="any" />
    </extension>

    <extension id="fastrepairmcscoherence"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Fast" />
        <path value="${project.artifactId}.repairmcscoherence/SlotA-B" />
        <toolTip value="Compute only a single maximal consistent subset" />
        <class value="www.ontologyutils.protege.menu.FastCoherenceRepairMcs" />
        <editorKitId value="any" />
    </extension>

    <extension id="normalrepairmcscoherence"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Default" />
        <path value="${project.artifactId}.repairmcscoherence/SlotA-B" />
        <toolTip value="Compute some maximal consistent subsets" />
        <class value="www.ontologyutils.protege.menu.DefaultCoherenceRepairMcs" />
        <editorKitId value="any" />
    </extension>

    <extension id="slowrepairmcscoherence"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Slow" />
        <path value="${project.artifactId}.repairmcscoherence/SlotA-C" />
        <toolTip value="Compute all maximal consistent subsets" />
        <class value="www.ontologyutils.protege.menu.SlowCoherenceRepairMcs" />
        <editorKitId value="any" />
    </extension>

    <extension id="weakeningrepair" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Axiom Weakening" />
        <path value="${project.artifactId}.autorepair/SlotCR-C" />
        <toolTip value="Repair using iterated axiom weakening" />
        <editorKitId value="OWLEditorKit" />
    </extension>

    <extension id="weakeningrepairconsistency"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Make Consistent" />
        <path value="${project.artifactId}.weakeningrepair/SlotA-A" />
        <editorKitId value="any" />
    </extension>

    <extension id="fastweakeningrepairconsistency"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Fast" />
        <path value="${project.artifactId}.weakeningrepairconsistency/SlotA-A" />
        <toolTip value="Use fastest available selection strategies" />
        <class value="www.ontologyutils.protege.menu.FastConsistencyRepairWeakening" />
        <editorKitId value="any" />
    </extension>

    <extension id="normalweakeningrepairconsistency"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Default" />
        <path value="${project.artifactId}.weakeningrepairconsistency/SlotA-B" />
        <toolTip value="Use default selection strategies" />
        <class value="www.ontologyutils.protege.menu.DefaultConsistencyRepairWeakening" />
        <editorKitId value="any" />
    </extension>

    <extension id="slowweakeningrepairconsistency"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Slow" />
        <path value="${project.artifactId}.weakeningrepairconsistency/SlotA-C" />
        <toolTip value="Use most complete selection strategies" />
        <class value="www.ontologyutils.protege.menu.SlowConsistencyRepairWeakening" />
        <editorKitId value="any" />
    </extension>

    <extension id="weakeningrepaircoherence"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Make Coherent" />
        <path value="${project.artifactId}.weakeningrepair/SlotA-B" />
        <editorKitId value="any" />
    </extension>

    <extension id="fastweakeningrepaircoherence"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Fast" />
        <path value="${project.artifactId}.weakeningrepaircoherence/SlotA-A" />
        <toolTip value="Use fastest available selection strategies" />
        <class value="www.ontologyutils.protege.menu.FastCoherenceRepairWeakening" />
        <editorKitId value="any" />
    </extension>

    <extension id="normalweakeningrepaircoherence"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Default" />
        <path value="${project.artifactId}.weakeningrepaircoherence/SlotA-B" />
        <toolTip value="Use default selection strategies" />
        <class value="www.ontologyutils.protege.menu.DefaultCoherenceRepairWeakening" />
        <editorKitId value="any" />
    </extension>

    <extension id="slowweakeningrepaircoherence"
        point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Slow" />
        <path value="${project.artifactId}.weakeningrepaircoherence/SlotA-C" />
        <toolTip value="Use most complete selection strategies" />
        <class value="www.ontologyutils.protege.menu.SlowCoherenceRepairWeakening" />
        <editorKitId value="any" />
    </extension>
</plugin>
